/* typografie */

h1 {
    font-family: $font-family-title;
    color: #000000;
    font-size: 20px;
}

h2 {
    font-family: $font-family-title;
    color: #000000;
    font-size: 16px;
}


p {
    font-family: $font-family-base;
    color: #000000;
    font-size: 14px;
    margin: 0px;
}

/* wrapper */

.wrapper-roze{
    background-color: $primary;
    padding: 20px;
}

/* button */
.button_reserveer {
    text-align: center;
    background-color: $tertiary;
    border-radius: 4px;
    border: 2px solid $tertiary;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: $font-family-title;
}

.button_reserveer:hover {
    background-color: #FFFFFF;
    border-color: $tertiary;
    border-radius: 4px;
}

.wrapper {
    text-align: center;
}

/* navigatie */
.logo_nav {
    height: 20px;
}

.winkelwagen_nav {
    height: 30px;
}

.navbar {
    background-color: $primary;
    margin-bottom: 35px;
}

.navbar a {
    text-decoration: none;
    font-family: $font-family-title;
    color: #000000;
    font-size: 18px; 
}


/* footer */
.footer {
    background-color: $secondary;
    margin-top: 35px;
    margin-bottom: 0px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    color: $primary;
}

/* HOME */
#wrapper_bottom {
    margin-bottom: 110px;
}

/* PRODUCT */
#stopcontact {
    display: block;
    margin: 0px auto;
    width: 50%;
    margin-bottom: 35px;
}

#form {
    margin-top: 20px;
}


/* BESTELPAGINA */
.form-group {
    margin-bottom: 35px;
}

#button_bestel{
    margin-top: 0px;
    margin-bottom: 35px;
}

/* BEDANKINGSPAGINA */
#wrapper-roze {
    margin-top: 35px;
    margin-bottom: 90px;
}

/* OVER ONS */
#persoon {
    height: 150px;
    display: block;
    margin: 0px auto;
}

#persoon {
   margin-bottom: 10px;
   border-radius: 5px;
}

#wrapper_overons {
    margin-bottom: 35px;
}

#wrapper_list {
    margin-top: 35px;
}

#iframe {
    height: 150px
}

.contact {
    list-style: none;
    text-align: left;
    padding: 0px;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    p {
        font-size: 16px;
    }

    h2 {
        font-size: 22px;
    }

    .button_reserveer {
        width: 20%;
        font-size: 20px;
    }

    .logo_nav {
        height: 30px;
    }
    
    .winkelwagen_nav {
        height: 40px;
    }

    #persoon {
        height: 200px;
        margin-bottom: 25px;
    }

    #wrapper_overons {
        margin-top: 20px;
    }

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    p {
        font-size: 18px;
    }

    .button_reserveer {
        width: 20%;
        font-size: 20px;
    }

    
    .logo_nav {
        height: 30px;
    }
    
    .winkelwagen_nav {
        height: 40px;
    }
    
    #persoon {
        height: 250px;
        margin-bottom: 30px;
    }

    #wrapper_overons {
        margin-top: 25px;
    }

}

