/* typografie */

h1 {
    font-family: $font-family-title;
    color: #000000;
    font-size: 20px;
    margin-bottom: 40px;
}

h2 {
    font-family: $font-family-title;
    color: #000000;
    font-size: 16px;
    margin-bottom: 20px;
}


p {
    font-family: $font-family-base;
    color: #000000;
    font-size: 14px;
    margin: 0px;
}

/* wrapper */

.roze{
    background-color: $primary;
    padding: 20px;
}

/* button */
.button_reserveer {
    text-align: center;
    background-color: $tertiary;
    border-radius: 4px;
    border: 2px solid $tertiary;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: $font-family-title;
}

.button_reserveer:hover {
    background-color: #FFFFFF;
    border-color: $tertiary;
    border-radius: 4px;
}

#button {
    text-align: center;
}

/* navigatie */
.logo_nav {
    height: 20px;
}

.winkelwagen_nav {
    height: 30px;
}

.navbar {
    background-color: $primary;
    margin-bottom: 35px;
}

.navbar a {
    text-decoration: none;
    font-family: $font-family-title;
    color: #000000;
    font-size: 18px; 
}


/* footer */
.footer {
    background-color: $secondary;
    margin-top: 35px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
}

.footer ul {
    list-style: none;
    color: white;
    padding: 0px;
}

.footer a {
    text-decoration: none;
    padding: 0px;
    color: white;
}

/* HOME */


/* PRODUCT */
#stopcontact {
    display: block;
    margin: 0px auto;
    width: 50%;
    margin-bottom: 35px;
}

#form {
    margin-top: 30px;
}

#button_bottom {
    margin-bottom: 35px;
    margin-top: 10px;
    text-align: center;
}


/* BESTELPAGINA */
.form-group {
    margin-bottom: 60px;
}

#button_bestel{
    margin-top: 0px;
    margin-bottom: 35px;
}

/* BEDANKINGSPAGINA */
#bedanking {
    margin-top: 35px;
}

#leeg_stopcontact {
    height: 100px;
    margin: auto;
}

/* OVER ONS */
#persoon {
    height: 150px;
    display: block;
    margin: 0px auto;
}

#persoon {
   margin-bottom: 10px;
   border-radius: 5px;
}

#overons {
    margin-bottom: 35px;
}

#list {
    margin-top: 35px;
}

#iframe {
    height: 200px;
    display: block;
    margin: 0px auto;
    margin-bottom: 35px;
}

.contact {
    list-style: none;
    text-align: left;
    padding: 0px;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #leeg_stopcontact {
        height: 200px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    p {
        font-size: 16px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .button_reserveer {
        font-size: 18px;
        width: 200px;
    }

    .logo_nav {
        height: 30px;
    }
    
    .winkelwagen_nav {
        height: 40px;
    }

    #persoon {
        height: 200px;
        margin-bottom: 25px;
    }

    #overons {
        margin-top: 20px;
    }

    .nav-item a {
        font-size: 20px;
        line-height: 40px;
    }
    
    .footer {
        font-size: 15px;
    }

    #leeg_stopcontact {
        height: 300px;
    }

    #iframe {
        height: 300px;
    }
    
    

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    p {
        font-size: 18px;
    }

    #persoon {
    height: 250px;
    margin-bottom: 30px;
    }

    #overons {
        margin-top: 25px;
    }

    .footer {
        font-size: 18px;
    }

    #button_bottom {
        margin-bottom: 120px;
    }

    #leeg_stopcontact {
        height: 450px;
    }

    .roze_contact {
        background-color: white;
    }
}

